<!-- src/app/features/characters/pages/characters-list/characters-list.component.html -->
<section class="characters-page">
  <header class="section-header">
    <h2>Personajes</h2>
  </header>

  <div *ngIf="loading" class="loader"></div>

  <div class="cards-grid" *ngIf="!loading">
    <a
      class="card"
      *ngFor="let c of characters"
      [routerLink]="['/characters', c.id]"
    >
      <img [src]="c.image" [alt]="c.name" />
      <div class="content">
        <h3>{{ c.name }}</h3>
        <p>{{ c.status }} · {{ c.species }}</p>
      </div>
    </a>
  </div>
</section>
