<!-- src/app/features/characters/pages/character-detail/character-detail.component.html -->
<section class="detail-page" *ngIf="!loading && character">
  <a routerLink="/characters" class="back">← Volver</a>

  <div class="detail">
    <img [src]="character.image" [alt]="character.name" />
    <div class="info">
      <h2>{{ character.name }}</h2>
      <p><strong>Estado:</strong> {{ character.status }}</p>
      <p><strong>Especie:</strong> {{ character.species }}</p>
      <p><strong>Género:</strong> {{ character.gender }}</p>
      <p><strong>Origen:</strong> {{ character.origin?.name }}</p>
      <p><strong>Ubicación:</strong> {{ character.location?.name }}</p>
    </div>
  </div>
</section>

<app-loader *ngIf="loading"></app-loader>
