.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.location-detail {
  padding: 16px;

  mat-card {
    max-width: 600px;
    margin: auto;
  }

  ul {
    margin-top: 8px;
    padding-left: 20px;
  }
}
